/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #131A22;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
}

.header-left-section{
    width: 310px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.amazon-logo-container{
    width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.amazon-logo-container:hover{
    cursor: pointer;
}

.amazon-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.country-domain{
    color: white;
    padding-bottom: 7px;
    font-size: 15px;
}

.location-container{
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    /* justify-content: center; */

    /* justify-content adjusts horizontally and align-items adjusts vertically */
}

.location-container:hover{
    cursor: pointer;
}

.location-symbol{
    /* width: 15px; */
    height: 18px;
    /* object-fit: cover; */
    /* object-position: center; */
}

.location-info{
    padding-left: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whom-to-deliver-info{
    color: #c7c0c0;
    font-size: 13px;
    font-weight: 500;
}

.pincode-info{
    font-size: 15px;
    font-weight: 700;
}

.middle-section{
    height: 40px;
    width: 1150px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-right: 30px;
}

.all-button{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(225, 225, 225);
    padding-left: 6px;
    padding-right: 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all 0.2s;
}

.all-button:hover{
    cursor: pointer;
    background-color: rgb(218, 217, 217);
    /* color: black; */
}

.all-text{
    color: rgb(99 97 97);
    font-size: 13px;
    font-weight: 500;
}

.downward-arrow{
    height: 5px;
}

.search-bar-container{
    height: 40px;
    flex: 1;
}

.search-bar{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    padding-left: 7px;
}
.search-bar::placeholder{
    color: rgb(99 97 97);
    font-size: 15px;
    font-weight: 400;
    /* padding-left: 7px; */
}

.search-button-container{
    height: 40px;
    width: 50px;
}

.search-button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: none;
    background-color: #FEBD69;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.2s;
}

.search-button:hover{
    cursor: pointer;
    background-color: #ffb34f;
}

.search-button-img{
    height: 50%;
}

.right-section{
    height: 40px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.country-language{
    height: 40px;
    width: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.country-language:hover{
    cursor: pointer;
}

.flag{
    height: 35%;
}

.language{
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.hello-accounts-lists{
    color: white;
    height: 40px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.hello-accounts-lists:hover{
    cursor: pointer;
}

.hello{
    color: #c7c0c0;
    font-size: 13px;
    font-weight: 500;
}

.accounts-lists{
    font-size: 15px;
    font-weight: 700;
    /* vertical-align: middle; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.downward-arrow2{
    height: 5px;
    padding-top: 2px;
    padding-left: 5px;
}

.cart{
    height: 40px;
    display: flex;
    align-items: center;
}

.cart:hover{
    cursor: pointer;
}

.cart-img{
    height: 75%;
    position: relative;
}

.number-of-items-in-cart-container{
    height: 18px;
    width: 18px;
    background-color: #FEBD69;
    border-radius: 100px;
    position: absolute;
    top: 11px;
    right: 7px;
    text-align: center;
}

.number-of-items-in-cart{
    color: black;
    font-size: 16px;
    font-weight: 700;
}

/* HEADER */

/* NAV BAR */

nav{
    height: 40px;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    background-color: #232F3E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.the-nav{
    width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.hamburger-menu-all{
    height: 20px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hamburger-menu-all:hover{
    cursor: pointer;
}

.hamburger{
    height: 60%;
}

.all-menu{
    font-size: 13px;
    color: whitesmoke;
    font-weight: 700;
}
.rest-of-the-navs{
    color: white;
    font-size: 13px;
    font-weight: 500;
}

.rest-of-the-navs:hover{
    cursor: pointer;
}

.browsing-history{
    width: 115px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-prime{
    width: 440px;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wheel{
    height: 85%;
    font-size: 17px;
    font-weight: 900;
    width: 150px;
    text-align: center;
    padding-bottom: 6px;
    padding-left: 30px;
}

.prime-poster{
    width: 55%;
    height: 100%;
    background-color: #00A8E1;
}

.prime-poster:hover{
    cursor: pointer;
}

.prime-poster-join{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.redirect-line{
    font-size: 11px;
    text-align: center;
    font-weight: 500;
}

/* NAV BAR */